<footer class="site-footer">
<div>
        © تم إنشاء هذا الموقع بواسطة
        <a href="https://www.facebook.com/ahmadshwikh1995" rel="noopener" target="_blank">
          أحمد الشويخ أبو أسامة
        </a>
<!-- <i class="fa-solid fa-heart me-1"></i> -->
</div>
<button class="btn btn-outline-light" onclick="openAboutUsModal()">
<i class="fa-solid fa-circle-info ms-1"></i>
        من نحن
      </button>
<!-- <button class="btn btn-light text-primary" onclick="openJoinTeamModal()">
        <i class="fa-solid fa-user-plus ms-1"></i>
        انضم إلى فريق التوثيق
      </button> -->
</footer>